@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.container {
  background-image: url(../media/background2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-top: 25px;
}

.main-section {
  padding: 50px;
  width: 60%;
}

.form-row {
  margin-left: 55px;
  display: flex;
  flex-direction: row;
}

.search-city-label {
  padding: 5px 30px 5px 30px;
  border: 0px;
  border-radius: 200px;
  width: 97%;
  font-family: raleway, sans;
}

.btn-dark {
  background-color: #f0b652;
  padding: 5px 15px 5px 15px;
  border: 0px;
  border-radius: 200px;
  font-family: raleway, sans;
  font-weight: bold;
}

.btn-dark:hover {
  color: #fff;
}

.current-city-display {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}

.current-city-name {
  font-family: Ysabeau;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 3px;
}

.current-description {
  font-family: raleway, sans;
  font-size: 20px;
}

.current-temperature {
  font-family: raleway, sans;
  font-size: 20px;
}

.current-week-day {
  font-family: Ysabeau;
  font-weight: 400;
  font-size: 25px;
}

.temp-selected {
  font-weight: bold;
}

.temp-type-link {
  color: gray;
}

.temp-type-link:hover {
  cursor: pointer;
}

.col-sm {
  line-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather-stats {
  font-family: Ysabeau;
  letter-spacing: 3px;
  margin-top: 5px;
  margin-left: 65px;
}

li {
  list-style: none;
  line-height: 35px;
  font-family: raleway, sans;
  letter-spacing: 2px;
  margin-right: 85px;
}

.weather-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: 10rem;
  margin: 45px;
}

.second-city {
  margin-top: 25px;
  font-family: Ysabeau;
  font-weight: bold;
  font-size: 28px;
}

.secondary-temperature {
  margin-top: 10px;
  font-family: raleway, sans;
}

.week-day {
  margin-top: 10px;
  margin-bottom: 25px;
  font-family: Ysabeau;
  font-weight: 600;
}

.footer {
  font-family: raleway, sans;
  font-size: 15px;
  letter-spacing: 1px;
}

.linkGit {
  color: #f0b652;
  text-decoration: none;
}

.linkGit:hover {
  color: #aec0b2;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}
